name: Publish NuGet Package

on:
  release:
    types:
      - created

jobs:
  build-test-pack:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 7.0.x

    - name: Set NuGet Version
      run: echo ::set-env name=NUGET_VERSION::$(echo ${{ github.ref_name }} | cut -d 'v' -f 2)

    - name: Pack as NuGet package
      run: dotnet pack -c Release --version-suffix ${{ env.NUGET_VERSION }}

    - name: Publish to NuGet
      run: dotnet nuget push Useless.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
